

  services:
    postgres:
      image: postgres:17
      container_name: db
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - '5432:5432'
      networks:
        - logo_network

      volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
        interval: 5s
        timeout: 5s
        retries: 5

    spring:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: spring_logo_app
      ports:
        - '8080:8080'
      networks:
       - logo_network
      depends_on:
         postgres:
          condition: service_healthy
      environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
        SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
        SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
        SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA: logo


  networks:
    logo_network:
      driver: bridge


  volumes:
    postgres_data:
